<div class="px-6 py-8 flex flex-row justify-between" *ngIf="book">
  <div>
    <ul>
      <li>
        <p class="text-gray-500 text-[14px]">Naziv knjige</p>
        <p class="font-medium">{{ book.title }}</p>
      </li>
      <li class="mt-6">
        <p class="text-gray-500 text-[14px]">Kategorija</p>
        <div *ngFor="let category of book.categories">
          <p class="font-medium">{{ category.name }}</p>
        </div>
      </li>
      <li class="mt-6">
        <p class="text-gray-500 text-[14px]">Žanr</p>
        <div *ngFor="let genre of book.genres">
          <p class="font-medium">{{ genre.name }}</p>
        </div>
      </li>
      <li class="mt-6">
        <p class="text-gray-500 text-[14px]">Autor/i</p>
        <div *ngFor="let author of book.authors">
          <p class="font-medium">{{ author.name }} {{author.surname}}</p>
        </div>
      </li>
      <li class="mt-6">
        <p class="text-gray-500 text-[14px]">Izdavač</p>
        <p class="font-medium">{{ book.publisher.name }}</p>
      </li>
      <li class="mt-6">
        <p class="text-gray-500 text-[14px]">Godina Izdavanja</p>
        <p class="font-medium">{{ book.pDate }}</p>
      </li>
    </ul>
  </div>
  <div class="w-[80%] ml-3">
    <ul>
      <li>
        <p>Kratak opis</p>
        <p>
          {{ book.description }}
        </p>
      </li>
    </ul>
  </div>
</div>
