<div class="px-6 py-8 flex flex-row justify-between">
    <div>
        <ul>
            <li>
                <p class="text-gray-500 text-[14px]">Naziv knjige</p> 
                <p class="font-medium">Tom Sojer</p>
            </li>
            <li class="mt-6">
                <p class="text-gray-500 text-[14px]">Kategorija</p>
                <p class="font-medium">Romani</p>
            </li>
            <li class="mt-6">
                <p class="text-gray-500 text-[14px]">Žanr</p>
                <p class="font-medium">Knjiga za djecu</p>
            </li>
            <li class="mt-6">
                <p class="text-gray-500 text-[14px]">Autor/i</p>
                <p class="font-medium">Mark Twain</p>
            </li>
            <li class="mt-6">
                <p class="text-gray-500 text-[14px]">Izdavač</p>
                <p class="font-medium">Delfi Knjižare</p>
            </li>
            <li class="mt-6">
                <p class="text-gray-500 text-[14px]">Godina Izdavanja</p>
                <p class="font-medium">30.03.2011</p>
            </li>
        </ul>
    </div>
    <div class="w-[80%]">
        <ul>
            <li>
                <p>Kratak opis</p>
                <p>Tom Sojer je roman koji možemo da smatramo i autobiografijom jer je utemeljen na doživljajima samog Marka Tvena. Autor ga je pisao u nekoliko navrata: prvi deo napisan je u zimu 1872. godine, drugi deo u proljeće 1875. godine, a treći na leto te iste godine. Napisan je jednostavnim stilom i uz mnogo pripovedanja i humora pa je jednako interesantan i deci i odraslima. Tven je ovim romanom hteo da odrasle čitaoce podseti na detinjstvo.Pripovedanje u romanu Tom Sojer odvija se linearno, bez paralelnih radnji. Sva dešavanja u romanu vrte se oko jednog lika, a to je Tom Sojer. On se ističe svojom inteligencijom, neobuzdanošću i humorističnom naravi.</p>
            </li>
        </ul>
    </div>
</div>