<div class="px-6 py-8 flex flex-row justify-between">
  <div>
    <ul>
      <li>
        <p class="text-gray-500 text-[14px]">Naziv knjige</p>
        <p class="font-medium">{{ book.title }}</p>
      </li>
      <li class="mt-6">
        <p class="text-gray-500 text-[14px]">Kategorija</p>
        <p class="font-medium">{{ book.category }}</p>
      </li>
      <li class="mt-6">
        <p class="text-gray-500 text-[14px]">Žanr</p>
        <p class="font-medium">{{ book.genre }}</p>
      </li>
      <li class="mt-6">
        <p class="text-gray-500 text-[14px]">Autor/i</p>
        <p class="font-medium">
          {{ book.authors[0].name }} {{ book.authors[0].surname }}
        </p>
      </li>
      <li class="mt-6">
        <p class="text-gray-500 text-[14px]">Izdavač</p>
        <p class="font-medium">{{ book.publisher.name }}</p>
      </li>
      <li class="mt-6">
        <p class="text-gray-500 text-[14px]">Godina Izdavanja</p>
        <p class="font-medium">{{ book.publishingYear }}</p>
      </li>
    </ul>
  </div>
  <div class="w-[80%] ml-3">
    <ul>
      <li>
        <p>Kratak opis</p>
        <p>
          {{ book.description }}
        </p>
      </li>
    </ul>
  </div>
</div>
