.header {
  background-color: #4558be;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
}

.ikonice {
  list-style: none;
  display: flex;
  justify-content: right;
}

.ikonice li {
  margin: 0 0.5rem;
}

.ikonice img {
  width: 80%;
  padding: 0;
  background-color: #606fc7;
  border-radius: 100%;
  transition: 0.s;
}

.ikonice img:hover{
    background-color:#7f89c2;
    transition: 0.4s;
}
