<div class="header">
    <ul class="ikonice">
        <li>
            <a href="#" >
                <img src="../../assets/images/bell-white.png" alt="Notifikacije">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../assets/images/plus-white.png" alt="Add">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../assets/images/profile-white.png" alt="Profil">
            </a>
        </li>
    </ul>
</div>
