<header
  class="z-20 small:hidden flex items-center text-white justify-between w-full h-[71px] pr-[30px] mx-auto bg-[#4558BE]"
>
  <div class="logo-font inline-flex bg-[#3F51B5] py-[18px] px-[30px]">
    <div class="block">
      <a href="#" class="text-[20px] font-medium">
        <div class="flex">
          <img
            width="35"
            height="35"
            src="https://img.icons8.com/ios-glyphs/30/000000/reading.png"
            style="margin-right: 0.5rem"
          />
          <p class="text-[20px] mt-[5px]">Online Biblioteka</p>
        </div>
      </a>
    </div>
  </div>

  <div class="relative flex items-center justify-end">
    <ul class="flex">
      <li>
        <a href="#">
          <img
            class="p-2 w-[80%] bg-[#606FC7] rounded-full shadow-md"
            src="../../assets/images/bell-white.png"
            alt="Notifikacije"
          />
        </a>
      </li>
      <li>
        <a href="#">
          <img
            class="p-2 w-[80%] bg-[#606FC7] rounded-full shadow-md"
            src="../../assets/images/plus-white.png"
            alt="Add"
          />
        </a>
      </li>
      <li>
        <a href="#">
          <img
            class="p-2 w-[80%] bg-[#606FC7] rounded-full shadow-md"
            src="../../assets/images/profile-white.png"
            alt="Profil"
          />
        </a>
      </li>
    </ul>
  </div>
</header>
