<div class="ml-4 pr-[30px]">
    <table
      class="mt-4 overflow-hidden shadow-lg rounded-xl min-w-full border-[1px] border-[#e4dfdf]"
    >
      <thead class="bg-[#EFF3F6]">
        <tr class="border-b-[1px] border-[#e4dfdf]">
          <th class="px-4 py-3 leading-4 tracking-wider text-left text-blue-500">
            <label class="inline-flex items-center">
              <input type="checkbox" class="form-checkbox" />
            </label>
          </th>
          <th class="px-4 py-4 leading-4 tracking-wider text-left">
            Ime i prezime
            <a class="cursor-pointer">
              <i  class="ml-3 fa-solid fa-arrow-down-long"></i>
              <i  class="ml-3 fa-solid fa-arrow-up-long"></i
            ></a>
          </th>
          <th class="px-4 py-4 text-sm leading-4 tracking-wider text-left">
            Email
          </th>
          <th class="px-4 py-4 text-sm leading-4 tracking-wider text-left">
            Tip korisnika
          </th>
          <th class="px-4 py-4 text-sm leading-4 tracking-wider text-left">
            Zadnji pristup sistemu
          </th>
          <th class="px-4 py-4"></th>
        </tr>
      </thead>
      <tbody
        class="bg-white"
        *ngFor="let student of let i = index"
      >
        <tr
          class="hover:bg-gray-200 hover:shadow-md border-b-[1px] border-[#e4dfdf]"
        >
          <td class="px-4 py-4 whitespace-no-wrap">
            <label class="inline-flex items-center">
              <input type="checkbox" class="form-checkbox" />
            </label>
          </td>
          <td class="flex flex-row items-center px-4 py-4">
            <img class="object-cover w-8 h-8 mr-2 rounded-full" src="" alt="" /><a
              [routerLink]="['/students', student.id, 'details']"
              ><span class="font-medium text-center"
                >{{ student.name }} {{ student.surname }}</span
              ></a
            >
          </td>
          <td class="px-4 py-4 text-sm leading-5 whitespace-no-wrap">
            {{ student.email }}
          </td>
          <td class="px-4 py-4 text-sm leading-5 whitespace-no-wrap">
            {{ student.role }}
          </td>
          <td class="px-4 py-4 text-sm leading-5 whitespace-no-wrap">
            {{ student.lastSeen }}
          </td>
          <td class="px-4 py-4 text-sm leading-5 text-right whitespace-no-wrap">
            <p
              class="inline cursor-pointer text-[20px] py-[10px] px-[30px] border-gray-300 dotsStudent hover:text-[#606FC7]"
            >
              <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>