<div class="naslov ml-4">
  <h1>Knjige</h1>
  <hr />
</div>
<div class="ml-4">
  <div class="edit-opcije">
    <!-- CRUD options show upon item checkmark selection, we can define them here -->
    <button
      class="btn-animation inline-flex items-center text-sm py-2.5 px-5 transition duration-300 ease-in rounded-[5px] tracking-wider text-white bg-[#3f51b5] rounded hover:bg-[#4558BE]"
      type="button"
    >
      + Nova Knjiga
    </button>
  </div>
  <div class="table w-full mt-[20px]">
    <div>
      <label for="search">Pretraga:</label>
      <input class="rounded-md border-[1px] ml-2" type="text" />

      <!-- list amount per page option goes here (view 5/15/30 books for e.g.) -->
    </div>
    <div class="table-view">
      <table
        class="mt-4 overflow-hidden shadow-lg rounded-xl min-w-full border-[1px] border-[#e4dfdf]"
      >
        <thead class="bg-[#EFF3F6]">
          <tr>
            <th>Naziv knjige</th>
            <th>Autor</th>
            <th>Kategorija</th>
            <th>Na raspolaganju</th>
            <th>Rezervisano</th>
            <th>Izdato</th>
            <th>U prekoračenju</th>
            <th>Ukupna količina</th>
          </tr>
        </thead>
        <tbody *ngFor="let data of dummyData; let i = index">
          <tr
            class="text-center hover:bg-gray-200 hover:shadow-md border-b-[1px] border-[#e4dfdf]"
          >
            <td>
              <a [routerLink]="['/books', i, 'details']">{{ data.name }}</a>
            </td>
            <td>{{ data.author }}</td>
            <td>{{ data.category }}</td>
            <td>{{ data.available }}</td>
            <td>{{ data.booked }}</td>
            <td>{{ data.issued }}</td>
            <td>{{ data.exceeded }}</td>
            <td>{{ data.totalCopies }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
