.activerl .fa-copy {
    color: #576cdf;
}

.activerl .fa-file {
    color: #576cdf;
}

.activerl .fa-exclamation-triangle {
    color: #576cdf;
}

.activerl .fa-calendar-check {
    color: #576cdf;
}

.activerl .fa-calendar-alt {
    color: #576cdf;
}
  
.activerl p {
    color: #576cdf;
}
  