<form class="text-gray-700 forma">
  <div class="flex flex-row ml-[30px]">
    <div class="w-[50%] mb-[150px]">
      <div class="mt-[20px]">
        <label for="pages">Broj strana </label>
        <input
          type="text"
          class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
        />
      </div>
      <div class="mt-[20px]">
        <label for="category">Pismo </label>
        <select
          name="category"
          class="flex w-[45%] mt-2 px-2 py-2 border bg-white border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
        >
          <option disabled selected></option>
          <option value="cirilica">Ćirilica</option>
          <option value="latinica">Latinica</option>
          <option value="arapsko">Arapsko</option>
          <option value="kinesko">Kinesko</option>
        </select>
      </div>
      <div class="mt-[20px]">
        <label for="category">Povez</label>
        <select
          name="category"
          class="flex w-[45%] mt-2 px-2 py-2 border bg-white border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
        >
          <option disabled selected></option>
          <option value="tvrdi">Tvrdi</option>
          <option value="meki">Meki</option>
        </select>
      </div>
      <div class="mt-[20px]">
        <label for="category">Format</label>
        <select
          name="category"
          class="flex w-[45%] mt-2 px-2 py-2 border bg-white border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
        >
          <option disabled selected></option>
          <option value="a1">A1</option>
          <option value="a2">A2</option>
        </select>
      </div>
      <div class="mt-[20px]">
        <label for="isbn">International Standard Book Number (ISBN) </label>
        <input
          type="text"
          class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
        />
      </div>
    </div>
  </div>
</form>
