<form
  class="text-gray-700 forma"
  [formGroup]="bookAddForm"
>
  <div class="flex flex-row ml-[30px]">
    <div class="w-[50%] mb-[150px]">
      <div class="mt-[20px]">
        <label for="pages">Broj strana </label>
        <input
          type="text"
          class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
          formControlName="brStrana"
        />

        <span
          *ngIf="
            !bookAddForm.get('brStrana').valid &&
            bookAddForm.get('brStrana').touched &&
            !bookAddForm.get('brStrana').hasError('greaterThanZero')
          "
          class="text-red-800"
          >* Polje ne smije biti prazno, niti manje od 0!
        </span>
      </div>
      <div class="mt-[20px]">
        <label for="script">Pismo </label>
        <select
          name="script"
          class="flex w-[45%] mt-2 px-2 py-2 border bg-white border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
          formControlName="pismo"
        >
          <option disabled selected></option>
          <option value="1">Ćirilica</option>
          <option value="2">Latinica</option>
          <option value="3">Arapsko</option>
          <option value="4">Kinesko</option>
        </select>
        <span
          *ngIf="
            !bookAddForm.get('pismo').valid && bookAddForm.get('pismo').touched
          "
          class="text-red-800"
          >* Polje ne smije biti prazno!
        </span>
      </div>
      <div class="mt-[20px]">
        <label for="bookbind">Povez</label>
        <select
          name="bookbind"
          class="flex w-[45%] mt-2 px-2 py-2 border bg-white border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
          formControlName="povez"
        >
          <option disabled selected></option>
          <option value="1">Tvrdi</option>
          <option value="2">Meki</option>
        </select>
        <span
          *ngIf="
            !bookAddForm.get('povez').valid && bookAddForm.get('povez').touched
          "
          class="text-red-800"
          >* Polje ne smije biti prazno!
        </span>
      </div>
      <div class="mt-[20px]">
        <label for="format">Format</label>
        <select
          name="format"
          class="flex w-[45%] mt-2 px-2 py-2 border bg-white border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
          formControlName="format"
        >
          <option disabled selected></option>
          <option value="1">A1</option>
          <option value="2">A2</option>
        </select>
        <span
          *ngIf="
            !bookAddForm.get('format').valid &&
            bookAddForm.get('format').touched
          "
          class="text-red-800"
          >* Polje ne smije biti prazno!
        </span>
      </div>
      <div class="mt-[20px]">
        <label for="isbn">International Standard Book Number (ISBN) </label>
        <input
          type="text"
          class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
          formControlName="isbn"
        />
        <span
          *ngIf="
            !bookAddForm.get('isbn').valid && bookAddForm.get('isbn').touched
          "
          class="text-red-800"
          >* Polje ne smije biti prazno!
        </span>
      </div>
    </div>
  </div>
  <div class="absolute bottom-[20px] w-full">
    <div class="flex flex-row">
      <div
        class="inline-block w-full text-white text-right py-[7px] px-5 mr-[100px]"
      >
        <button
          type="reset"
          class="btn-animation shadow-lg mr-[15px] w-[150px] focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in bg-[#F44336] hover:bg-[#F55549] rounded-[5px]"
        >
          Poništi
          <i class="fas fa-times ml-[4px]"></i>
        </button>
        <button
          type="button"
          class="btn-animation shadow-lg mr-[15px] w-[150px] disabled:opacity-50 focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in rounded-[5px] hover:bg-[#46A149] bg-[#4CAF50]" style="background: #325EA8"
          (click)="onPreviousClick()"
        >
          <i class="fas fa-arrow-left mr-[4px]"></i> Prethodna 
        </button>
        <button
          type="button"
          class="btn-animation shadow-lg w-[150px] disabled:opacity-50 focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in rounded-[5px] hover:bg-[#46A149] bg-[#4CAF50]"
          [disabled]="!isSpecsFormValid"
          (click)="onNextClick()"
        >
          Sledeća <i class="fas fa-arrow-right ml-[4px]"></i>
        </button>
      </div>
    </div>
  </div>
</form>
