<form class="text-gray-700 forma" [formGroup]="bookAddForm">
  <div class="flex flex-row ml-[30px]">
    <div class="w-[50%] mb-[150px]">
      <div class="mt-[20px]">
        <label for="pages">Broj strana </label>
        <input
          type="text"
          class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
          formControlName="brStrana"
        />

        <span
          *ngIf="
            !bookAddForm.get('brStrana').valid &&
            bookAddForm.get('brStrana').touched &&
            !bookAddForm.get('brStrana').hasError('greaterThanZero')
          "
          class="text-red-800"
          >* Polje ne smije biti prazno, niti manje od 0!
        </span>
      </div>
      <div class="mt-[20px] w-[90%]" *ngIf="data">
        <label for="script">Pismo </label>
        <ng-multiselect-dropdown
          id="script"
          placeholder="-"
          formControlName="pismo"
          [settings]="dropdownSettings"
          [data]="data.data.scripts"
        >
        </ng-multiselect-dropdown>
        <span
          *ngIf="
            !bookAddForm.get('pismo').valid && bookAddForm.get('pismo').touched
          "
          class="text-red-800"
          >* Polje ne smije biti prazno!
        </span>
      </div>
      <div class="mt-[20px] w-[90%]" *ngIf="data">
        <label for="bookbind">Povez</label>
        <ng-multiselect-dropdown
          id="bookbind"
          placeholder="-"
          formControlName="povez"
          [settings]="dropdownSettings"
          [data]="data.data.bookbinds"
        >
        </ng-multiselect-dropdown>
        <span
          *ngIf="
            !bookAddForm.get('povez').valid && bookAddForm.get('povez').touched
          "
          class="text-red-800"
          >* Polje ne smije biti prazno!
        </span>
      </div>
      <div class="mt-[20px] w-[90%]" *ngIf="data">
        <label for="format">Format</label>
        <ng-multiselect-dropdown
          id="format"
          placeholder="-"
          formControlName="format"
          [settings]="dropdownSettings"
          [data]="data.data.formats"
        >
        </ng-multiselect-dropdown>
        <span
          *ngIf="
            !bookAddForm.get('format').valid &&
            bookAddForm.get('format').touched
          "
          class="text-red-800"
          >* Polje ne smije biti prazno!
        </span>
      </div>
      <div class="mt-[20px]">
        <label for="isbn">International Standard Book Number (ISBN) </label>
        <input
          type="text"
          class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
          formControlName="isbn"
        />
        <span
          *ngIf="
            !bookAddForm.get('isbn').valid && bookAddForm.get('isbn').touched
          "
          class="text-red-800"
          >* Polje ne smije biti prazno!
        </span>
      </div>
    </div>
  </div>
  <div class="absolute bottom-[20px] w-full">
    <div class="flex flex-row">
      <div
        class="inline-block w-full text-white text-right py-[7px] px-5 mr-[100px]"
      >
        <button
          type="reset"
          class="btn-animation shadow-lg mr-[15px] w-[150px] focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in bg-[#F44336] hover:bg-[#F55549] rounded-[5px]"
        >
          Poništi
          <i class="fas fa-times ml-[4px]"></i>
        </button>
        <button
          type="button"
          class="btn-animation shadow-lg mr-[15px] w-[150px] disabled:opacity-50 focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in rounded-[5px] hover:bg-[#46A149] bg-[#4CAF50]"
          style="background: #325ea8"
          (click)="onPreviousClick()"
        >
          <i class="fas fa-arrow-left mr-[4px]"></i> Prethodna
        </button>
        <button
          type="button"
          class="btn-animation shadow-lg w-[150px] disabled:opacity-50 focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in rounded-[5px] hover:bg-[#46A149] bg-[#4CAF50]"
          [disabled]="!isSpecsFormValid"
          (click)="onNextClick()"
        >
          Sledeća <i class="fas fa-arrow-right ml-[4px]"></i>
        </button>
      </div>
    </div>
  </div>
</form>
