<div class="w-[90%] mx-auto bg-white rounded p7 mt-[20px]">
  <div
    class="relative flex flex-col p-4 text-gray-400 border border-gray-200 rounded"
  >
    <div
      class="relative flex flex-col text-gray-400 border border-gray-200 border-dashed rounded cursor-pointer"
    >
      <h1 class="text-center">IMAGE ADD</h1>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-4 2xl:grid-cols-4">
      <div class="relative flex flex-col p-2 text-xs bg-white bg-opacity-50">
        <img
          src="../../../../../assets/images/tomsojer.jpg"
          alt="cover art"
          class="h-[300px]"
        />
        <input
          class="absolute top-[10px] right-[10px] z-50 p-1 bg-white rounded-bl focus:outline-none"
          type="radio"
          checked
        />
        <button
          class="absolute bottom-[5px] right-[6px] z-50 p-1 bg-white rounded-bl focus:outline-none"
          type="button"
        >
          <svg
            class="w-[25px] h-[25px] text-gray-700"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            nviewbox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
            ></path>
          </svg>
        </button>
        <div
          class="absolute bottom-[20px] left-0 right-0 flex flex-col p-2 text-xs bg-white bg-opacity-50 text-center"
        >
          <span class="w-full font-bold text-gray-900 truncate">
            tomsojer.jpg
          </span>
          <span class="text-xs text-gray-900">89kB</span>
        </div>
      </div>
      <div class="relative flex flex-col p-2 text-xs bg-white bg-opacity-50">
        <img
          src="../../../../../assets/images/tomsojer.jpg"
          alt="cover art"
          class="h-[300px]"
        />
        <input
          class="absolute top-[10px] right-[10px] z-50 p-1 bg-white rounded-bl focus:outline-none"
          type="radio"
          checked
        />
        <button
          class="absolute bottom-[5px] right-[6px] z-50 p-1 bg-white rounded-bl focus:outline-none"
          type="button"
        >
          <svg
            class="w-[25px] h-[25px] text-gray-700"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            nviewbox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
            ></path>
          </svg>
        </button>
        <div
          class="absolute bottom-[20px] left-0 right-0 flex flex-col p-2 text-xs bg-white bg-opacity-50 text-center"
        >
          <span class="w-full font-bold text-gray-900 truncate">
            tomsojer.jpg
          </span>
          <span class="text-xs text-gray-900">89kB</span>
        </div>
      </div>
    </div>
  </div>
</div>
