<app-librarian-top-bar [librarian]="librarian"></app-librarian-top-bar>
<div class="height-scroll overflow-y-auto">
  <div class="pb-[30px]">
    <div class="pl-[30px] section- mt-[20px]">
      <div class="flex flex-row">
        <div class="mr-[30px]">
          <div class="mt-[20px]">
            <span class="text-gray-500">Ime i prezime</span>
            <p class="font-medium">{{ librarian.name }} {{ librarian.surname }}</p>
          </div>
          <div class="mt-[40px]">
            <span class="text-gray-500">Tip korisnika</span>
            <p class="font-medium">{{ librarian.role }}</p>
          </div>
          <div class="mt-[40px]">
            <span class="text-gray-500">JMBG</span>
            <p class="font-medium">{{ librarian.jmbg }}</p>
          </div>
          <div class="mt-[40px]">
            <span class="text-gray-500">Email</span>
            <p class="font-medium text-[#2196f3]">{{ librarian.email }}</p>
          </div>
          <div class="mt-[40px]">
            <span class="text-gray-500">Korisnicko ime</span>
            <p class="font-medium">{{ librarian.username }}</p>
          </div>
          <div class="mt-[40px]">
            <span class="text-gray-500">Broj logovanja</span>
            <p class="font-medium">60</p>
          </div>
          <div class="mt-[40px]">
            <span class="text-gray-500">Poslednji put logovan/a</span>
            <p class="font-medium">Prekjuce 11:57 AM</p>
          </div>
        </div>
        <div class="ml-[100px] mt-[20px]">
          <img
            class="p-2 border-2 border-gray-300"
            width="300px"
            src="{{ librarian.photoPath }}"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>

  
