<div class="scroll height-content section-content" *ngIf="isLoaded">
  <form
    class="text-gray-700 forma h-screen"
    [formGroup]="bookEditForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex flex-row ml-[30px]">
      <div class="w-[50%] mb-[150px]">
        <div class="mt-[20px]">
          <label for="pages">Broj strana </label>
          <input
            type="text"
            id="pages"
            formControlName="brStrana"
            class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            [value]="bookToEdit.book.pages"
          />
        </div>
        <div class="mt-[20px]">
          <label for="scripts">Pismo </label>
          <select
            id="scripts"
            formControlName="pismo"
            class="flex w-[45%] mt-2 px-2 py-2 border bg-white border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            [value]="bookToEdit.book.script"
          >
            <option
              *ngFor="let value of bookToEdit.scripts"
              [ngValue]="value.id"
            >
              {{ value.name }}
            </option>
          </select>
        </div>
        <div class="mt-[20px]">
          <label for="bookbinds">Povez</label>
          <select
            id="bookbinds"
            formControlName="povez"
            class="flex w-[45%] mt-2 px-2 py-2 border bg-white border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            [value]="bookToEdit.book.bookbind"
          >
            <option
              *ngFor="let value of bookToEdit.bookbinds"
              [ngValue]="value.id"
            >
              {{ value.name }}
            </option>
          </select>
        </div>
        <div class="mt-[20px]">
          <label for="formats">Format</label>
          <select
            id="formats"
            class="flex w-[45%] mt-2 px-2 py-2 border bg-white border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            [value]="bookToEdit.book.format"
          >
            <option
              *ngFor="let value of bookToEdit.formats"
              [ngValue]="value.id"
            >
              {{ value.name }}
            </option>
          </select>
        </div>
        <div class="mt-[20px]">
          <label for="isbn">International Standard Book Number (ISBN) </label>
          <input
            type="text"
            id="isbn"
            formControlName="isbn"
            class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            [value]="bookToEdit.book.isbn"
          />
        </div>
      </div>
    </div>
    <div class="absolute bottom-[20px] w-full">
      <div class="flex flex-row">
        <div
          class="inline-block w-full text-white text-right py-[7px] px-5 mr-[100px]"
        >
          <button
            type="button"
            class="btn-animation shadow-lg mr-[15px] w-[150px] focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in bg-[#F44336] hover:bg-[#F55549] rounded-[5px]"
          >
            Poništi
            <i class="fas fa-times ml-[4px]"></i>
          </button>
          <button
            type="submit"
            id="sacuvajKnjigu"
            class="btn-animation shadow-lg w-[150px] disabled:opacity-50 focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in rounded-[5px] hover:bg-[#46A149] bg-[#4CAF50]"
          >
            Sačuvaj <i class="fas fa-check ml-[4px]"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
