<form class="text-gray-700 forma" *ngIf="bookToEdit">
  <div class="flex flex-row ml-[30px]">
    <div class="w-[50%] mb-[150px]">
      <div class="mt-[20px]">
        <label for="pages">Broj strana </label>
        <input
          type="text"
          name="pages"
          class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
          [value]="bookToEdit.book.pages"
        />
      </div>
      <div class="mt-[20px]">
        <label for="writing">Pismo </label>
        <select
          name="writing"
          class="flex w-[45%] mt-2 px-2 py-2 border bg-white border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
        >
          <option
            *ngFor="let value of bookToEdit.scripts"
            [value]="value.name"
          >
            {{ value.name }}
          </option>
        </select>
      </div>
      <div class="mt-[20px]">
        <label for="cover">Povez</label>
        <select
          name="cover"
          class="flex w-[45%] mt-2 px-2 py-2 border bg-white border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
        >
          <option
            *ngFor="let value of bookToEdit.bookbinds"
            [value]="value.name"
          >
            {{ value.name }}
          </option>
        </select>
      </div>
      <div class="mt-[20px]">
        <label for="format">Format</label>
        <select
          name="format"
          class="flex w-[45%] mt-2 px-2 py-2 border bg-white border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
        >
        <option
        *ngFor="let value of bookToEdit.formats"
        [value]="value.name"
      >
        {{ value.name }}
      </option>
        </select>
      </div>
      <div class="mt-[20px]">
        <label for="isbn">International Standard Book Number (ISBN) </label>
        <input
          type="text"
          class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
          [value]="bookToEdit.book.isbn"
        />
      </div>
    </div>
  </div>
</form>
