<div>
  <div class="flex flex-row justify-between">
    <div class="flex items-center px-[50px] py-8 space-x-3 rounded-lg">
      <a href="settings/formats/add"
        ><button
          class="btn-animation inline-flex items-center text-sm py-2.5 px-5 transition duration-300 ease-in rounded-[5px] tracking-wider text-white bg-[#3f51b5] rounded hover:bg-[#4558BE]"
          type="button"
        >
          + Novi format
        </button></a
      >
    </div>
  </div>

  <div class="px-[30px] pt-2 bg-white" *ngIf="data">
    <div
      class="inline-block min-w-full px-[50px] pt-3 align-middle bg-white rounded-bl-lg rounded-br-lg shadow-dashboard"
    >
      <table
        class="overflow-hidden shadow-lg rounded-xl min-w-full border-[1px] border-[#e4dfdf]"
      >
        <thead class="bg-[#EFF3F6]">
          <tr class="border-b-[1px] border-[#e4dfdf]">
            <th
              class="px-4 py-4 leading-4 tracking-wider text-left text-blue-500"
            >
              <label class="inline-flex items-center">
                <input type="checkbox" class="form-checkbox" />
              </label>
            </th>
            <th class="px-4 py-4 leading-4 tracking-wider text-left">
              Naziv formata
              <a class="cursor-pointer">
                <i class="ml-3 fa-solid fa-arrow-down-long"></i>
                <i class="ml-3 fa-solid fa-arrow-up-long"></i
              ></a>
            </th>
            <th class="px-4 py-4 text-sm leading-4 tracking-wider text-left">
              Opis
            </th>
            <th class="px-4 py-4"></th>
          </tr>
        </thead>
        <tbody class="bg-white" *ngFor="let format of data.formats">
          <tr
            class="hover:bg-gray-200 hover:shadow-md border-b-[1px] border-[#e4dfdf]"
          >
            <td class="px-4 py-4 whitespace-no-wrap">
              <label class="inline-flex items-center">
                <input type="checkbox" class="form-checkbox" />
              </label>
            </td>
            <td class="flex flex-row items-center px-4 py-4">
              <span class="font-medium text-center">{{ format.name }}</span>
            </td>
            <td class="px-4 py-4 text-sm leading-5 whitespace-no-wrap">
              <div>
                <p class="font-medium">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit,
                </p>
              </div>
            </td>
            <td
              class="px-4 py-4 text-sm leading-5 text-right whitespace-no-wrap"
            >
              <p
                class="inline cursor-pointer text-[20px] py-[10px] px-[30px] border-gray-300 dotsStudent hover:text-[#606FC7]"
              >
                <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div
    class="flex flex-row items-center justify-end my-2"
    style="padding-right: 80px"
  >
    <div>
      <p class="inline text-md">Rows per page:</p>
      <select
        id="viewSize"
        class="text-gray-700 bg-white rounded-md w-[46px] focus:outline-none focus:ring-primary-500 focus:border-primary-500 text-md"
      >
        <option value="1">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
    </div>
    <div>
      <nav class="inline-flex">
        <div>
          <a
            href="#"
            class="relative inline-flex items-center px-4 py-2 -ml-px font-medium leading-5 transition duration-150 ease-in-out bg-white text-md"
          >
            1 of 1
          </a>
        </div>
        <div>
          <a
            class="relative inline-flex items-center px-2 py-2 font-medium leading-5 text-gray-500 transition duration-150 ease-in-out bg-white text-md rounded-l-md hover:text-gray-400 cursor-pointer"
            aria-label="Previous"
          >
            <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
        <div>
          <a
            class="relative inline-flex items-center px-2 py-2 -ml-px font-medium leading-5 text-gray-500 transition duration-150 ease-in-out bg-white text-md rounded-r-md hover:text-gray-400 cursor-pointer"
            aria-label="Next"
          >
            <svg class="w-5 h-5" viewBox="0 0 20 20">
              <path
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              ></path>
            </svg>
          </a>
        </div>
      </nav>
    </div>
  </div>
</div>
