<div class="scroll height-content section-content" *ngIf="bookToEdit">
  <form class="text-gray-700 forma h-screen"
  [ngForm]="bookEditForm" 
  (ngSubmit)="onSubmit()">
    <div class="flex flex-row ml-[30px] mb-[150px]">
      <div class="w-[50%]">
        <div class="mt-[20px]">
          <label for="name">Naziv knjige </label>
          <input
            type="text"
            name="title"
            class="flex w-[90%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            [value]="bookToEdit.book.title"
            [(ngModel)]="bookToEdit.book.title"
          />
        </div>

        <div class="mt-[20px]">
          <label for="content">Unesite kratak sadržaj </label>
          <textarea
            name="content"
            class="flex w-[90%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            [value]="bookToEdit.book.description"
            [(ngModel)]="bookToEdit.book.description"
          ></textarea>
        </div>

        <div class="mt-[20px]">
          <label for="category">Izaberite kategorije </label>
          <select
            name="category"
            class="flex w-[90%] mt-2 px-2 py-2 border bg-white border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
          >
            <option
              *ngFor="let value of bookToEdit.categories"
              [value]="value.name"
              
            >
              {{ value.name }}
            </option>
          </select>
        </div>
        <div class="mt-[20px]">
          <label for="genre">Izaberite žanrove </label>

          <select
            name="category"
            class="flex w-[90%] mt-2 px-2 py-2 border bg-white border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
          >
            <option
              *ngFor="let value of bookToEdit.genres"
              [value]="value.name"
            >
              {{ value.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="w-[50%]">
        <div class="mt-[20px]">
          <label for="authors">Izaberite autore </label>
          <select
            name="authors"
            class="flex w-[90%] mt-2 px-2 py-2 border bg-white border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
          >
            <option
              *ngFor="let value of bookToEdit.authors"
              [value]="value.name"
            >
              {{ value.name }} {{ value.surname }}
            </option>
          </select>
        </div>
        <div class="mt-[20px]">
          <label for="publishers">Izaberite izdavača </label>
          <select
            name="publishers"
            class="flex w-[45%] mt-2 px-2 py-2 border bg-white border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
          >
            <option
              *ngFor="let value of bookToEdit.publishers"
              [value]="value.name"
            >
              {{ value.name }}
            </option>
          </select>
        </div>

        <div class="mt-[20px]">
          <label for="year">Godina izdavanja </label>
          <input
            type="text"
            name="pDate"
            class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            [value]="bookToEdit.book.pDate"
            [(ngModel)]="bookToEdit.book.pDate"
          />
        </div>

        <div class="mt-[20px]">
          <label for="quantity">Količina </label>
          <input
            type="text"
            name="samples"
            class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            [value]="bookToEdit.book.samples"
            [(ngModel)]="bookToEdit.book.samples"
          />
        </div>
      </div>
    </div>

    <div class="absolute bottom-[20px] w-full">
      <div class="flex flex-row">
        <div
          class="inline-block w-full text-white text-right py-[7px] px-5 mr-[100px]"
        >
          <button
            type="button"
            class="btn-animation shadow-lg mr-[15px] w-[150px] focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in bg-[#F44336] hover:bg-[#F55549] rounded-[5px]"
          >
            Poništi
            <i class="fas fa-times ml-[4px]"></i>
          </button>
          <button
            type="submit"
            id="sacuvajKnjigu"
            class="btn-animation shadow-lg w-[150px] disabled:opacity-50 focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in rounded-[5px] hover:bg-[#46A149] bg-[#4CAF50]"
          >
            Sačuvaj <i class="fas fa-check ml-[4px]"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
