<div class="scroll height-content section-content" *ngIf="isLoaded">
  <form
    class="text-gray-700 forma h-screen"
    [formGroup]="bookEditForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex flex-row ml-[30px] mb-[150px]">
      <div class="w-[50%]">
        <div class="mt-[20px]">
          <label for="name">Naziv knjige </label>
          <input
            type="text"
            id="title"
            formControlName="nazivKnjiga"
            class="flex w-[90%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
          />
        </div>

        <div class="mt-[20px] w-[90%]">
          <label for="content">Unesite kratak sadržaj </label>
          <textarea
            id="content"
            formControlName="kratki_sadrzaj"
            class="flex w-[90%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
          ></textarea>
        </div>

        <div class="mt-[20px] w-[90%]" *ngIf="data && existingBook">
          <label for="category">Izaberite kategorije </label>
          <ng-multiselect-dropdown
            id="categories"
            [placeholder]="existingBook.categories"
            formControlName="categories"
            [settings]="dropdownSettings"
            [data]="data.data.categories"
          >
          </ng-multiselect-dropdown>
        </div>
        <div class="mt-[20px] w-[90%]" *ngIf="data && existingBook">
          <label for="genres">Izaberite žanrove </label>
          <ng-multiselect-dropdown
            id="genres"
            [placeholder]="existingBook.genres"
            formControlName="genres"
            [settings]="dropdownSettings"
            [data]="data.data.genres"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>

      <div class="w-[50%]">
        <div class="mt-[20px] w-[90%]" *ngIf="data && existingBook">
          <label for="authors">Izaberite autore </label>
          <ng-multiselect-dropdown
            id="authors"
            [placeholder]="existingBook.authors"
            formControlName="authors"
            [settings]="dropdownSettings"
            [data]="data.data.authors"
          >
          </ng-multiselect-dropdown>
        </div>
        <div class="mt-[20px] w-[90%]" *ngIf="data && existingBook">
          <label for="publishers">Izaberite izdavača </label>
          <select
            name="publishers"
            class="flex w-[45%] mt-2 px-2 py-2 border bg-white border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            formControlName="izdavac"
          >
            <option disabled selected></option>
            <option
              *ngFor="let value of data.data.publishers"
              [ngValue]="value.id"
            >
              {{ value.name }}
            </option>
          </select>
        </div>

        <div class="mt-[20px]">
          <label for="year">Godina izdavanja </label>
          <input
            type="text"
            id="pDate"
            formControlName="godinaIzdavanja"
            class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
          />
        </div>

        <div class="mt-[20px]">
          <label for="quantity">Količina </label>
          <input
            id="quantity"
            formControlName="knjigaKolicina"
            class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
          />
        </div>
      </div>
    </div>

    <div class="absolute bottom-[20px] w-full">
      <div class="flex flex-row">
        <div
          class="inline-block w-full text-white text-right py-[7px] px-5 mr-[100px]"
        >
          <button
            type="button"
            class="btn-animation shadow-lg mr-[15px] w-[150px] focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in bg-[#F44336] hover:bg-[#F55549] rounded-[5px]"
          >
            Poništi
            <i class="fas fa-times ml-[4px]"></i>
          </button>
          <button
            type="submit"
            id="sacuvajKnjigu"
            class="btn-animation shadow-lg w-[150px] disabled:opacity-50 focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in rounded-[5px] hover:bg-[#46A149] bg-[#4CAF50]"
          >
            Sačuvaj <i class="fas fa-check ml-[4px]"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
