<div class="naslov">
  <h1>Autori</h1>
  <hr />
</div>
<div class="component-body">
  <div class="edit-opcije">
    <!-- po selectu autora na checkbox iz tabele se pojavljuju opcije pogledaj detalje izmijeni i izbriši -->
    <button type="button">+ Novi Autor</button>
  </div>
  <div class="search-view">
    <label for="search">Pretraga:</label>
    <input type="text" />

    <!-- opcija za količinu contenta u listi po stranici -->
  </div>
  <div class="table-view">
    <table>
      <thead>
        <tr>
          <th style="width: 25%;">Naziv autora</th>
          <th>Opis</th>
        </tr>
      </thead>
      <tbody *ngFor="let data of dummyData; let i = index">
        <tr>
            <td style="font-weight: 600;">{{data.ime}}</td>
            <td>{{data.opis}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
