<div class="naslov">
  <h1>Evidencija iznajmljivanja</h1>
  <hr />
</div>
<div class="flex flex-row">
  <div class="min-w-[20%]">
    <ul class="pr-2">
      <a>
        <li class="py-4 pl-1 rounded-[5px] hover:bg-gray-200 hover:shadow-md">
          Izdate knjige
        </li>
      </a>
      <a>
        <li class="py-4 pl-1 rounded-[5px] hover:bg-gray-200 hover:shadow-md">
          Vraćene knjige
        </li>
      </a>
      <a>
        <li class="py-4 pl-1 rounded-[5px] hover:bg-gray-200 hover:shadow-md">
          Otpisane knjige
        </li>
      </a>
      <a>
        <li class="py-4 pl-1 rounded-[5px] hover:bg-gray-200 hover:shadow-md">
          Knjige u prekoračenju
        </li>
      </a>
      <a>
        <li class="py-4 pl-1 rounded-[5px] hover:bg-gray-200 hover:shadow-md">
          Aktivne rezervacije
        </li>
      </a>
      <a>
        <li class="py-4 pl-1 rounded-[5px] hover:bg-gray-200 hover:shadow-md">
          Arhivirane rezervacije
        </li>
      </a>
    </ul>
  </div>
  <div class="table w-full mt-[20px]">
    <div>
      <label for="search">Pretraga:</label>
      <input class="rounded-md border-[1px] ml-2" type="text" />

      <!-- opcija za količinu contenta u listi po stranici -->
    </div>
    <div class="mt-[20px]">
      <table
        class="mt-4 overflow-hidden shadow-lg rounded-xl min-w-full border-[1px] border-[#e4dfdf]"
      >
        <thead class="bg-[#EFF3F6]">
          <tr>
            <th>Naziv knjige</th>
            <th>Izdato učeniku</th>
            <th>Datum izdavanja</th>
            <th>Trenutno zadržavanje knjige</th>
            <th>Knjigu izdao</th>
          </tr>
        </thead>
        <tbody *ngFor="let data of dummyData">
          <tr
            class="text-center hover:bg-gray-200 hover:shadow-md border-b-[1px] border-[#e4dfdf]"
          >
            <td>{{ data.name }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
