<app-student-top-bar [student]="student"></app-student-top-bar>
<div
  class="border-b-[1px] py-4 text-gray-500 border-[#e4dfdf] pl-[30px] text-gray-700"
>
  <a
    routerLink="details"
    routerLinkActive="active-book-nav"
    class="inline hover:text-blue-800"
  >
    Osnovni detalji
  </a>
  <a
  routerLink="history"
    routerLinkActive="active-book-nav"
    class="inline ml-[70px] hover:text-blue-800"
  >
    Evidencija iznajmljivanja
  </a>
</div>
<div class="pl-[32px]">
  <router-outlet></router-outlet>
</div>
