
<div class="naslov">
    <h1>Autori</h1>
    <hr />
  </div>
  <div>
    <div class="flex flex-row justify-between"
    >
      
      <button 
        routerLink="add"
        style="margin-left: 30px;"
        class="btn-animation items-center text-sm py-2.5 px-5 transition duration-300 ease-in rounded-[5px] tracking-wider text-white bg-[#3f51b5] rounded hover:bg-[#4558BE]"
        type="button"
      >
        + Novi Autor
      </button> 
      
      <div class="flex items-center">
        <div class="relative text-gray-600 focus-within:text-gray-400">
          <span class="absolute inset-y-0 left-0 flex items-center pl-2">
            <button
              type="submit"
              class="p-1 focus:outline-none focus:shadow-outline"
            >
              <i class="fa-solid fa-magnifying-glass fa-lg"></i>
            </button>
          </span>
          <input
            [(ngModel)]="searchName"
            type="text"
            name="q"
            class="py-2 pl-10 text-sm text-white bg-white rounded-md focus:outline-none focus:bg-white focus:text-gray-900"
            placeholder="Search..."
            autocomplete="off"
            
          />
        </div>
      </div>

      
    
   </div>
    <div class="table w-full mt-[20px]">
      
      <div style="width: 1100px; margin-left: 30px;">
        <table
          class="mt-4 overflow-hidden shadow-lg rounded-xl min-w-full border-[1px] border-[#e4dfdf]"
        >
          <thead class="bg-[#EFF3F6]">
            <tr class="border-b-[1px] border-[#e4dfdf]">
              <th class="px-4 py-3 leading-4 tracking-wider text-left">Naziv autora</th>
              <th class="px-4 py-4 leading-4 tracking-wider text-left">Opis</th>
              
             
            </tr>
          </thead>
          <tbody *ngFor="let author of authors">
            <tr
            [routerLink]="['/authors', author.id,'details']"
            style="cursor: pointer;"
            class="hover:bg-gray-200 hover:shadow-md border-b-[1px] border-[#e4dfdf]"
          >
              
              <td class="px-4 py-4 text-sm leading-5 whitespace-no-wrap"
                  style="font-weight:500;">{{author.id}} {{ author.name }} {{author.surname}}</td>
              <td class="text-left ml-3">{{lipsum}}</td>
            <td
              class="px-4 py-4 text-sm leading-5 text-right whitespace-no-wrap">
                <p
                  class="inline cursor-pointer text-[20px] py-[10px] px-[30px] border-gray-300 dotsStudent hover:text-[#606FC7]">
                <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                </p>
            </td>
            
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
