<div class="ml-4">
<div class="naslov">
    <h1>Autori</h1>
    <hr />
  </div>
  <div>
    <div class="edit-opcije">
      <!-- CRUD options show upon item checkmark selection, we can define them here -->
       <!-- <a href="authors/add"
      > -->
      <button 
        routerLink="add"
        class="btn-animation inline-flex items-center text-sm py-2.5 px-5 transition duration-300 ease-in rounded-[5px] tracking-wider text-white bg-[#3f51b5] rounded hover:bg-[#4558BE]"
        type="button"
      >
        + Novi Autor
      </button> 
      <button 
        routerLink="edit"
        class="ml-4 inline-flex items-center text-sm py-2.5 px-5 transition duration-300 ease-in rounded-[5px] tracking-wider text-white bg-[#3f51b5] rounded hover:bg-[#4558BE]"
        type="button"
      >
        Uredi autora
      </button>  

      <button 
        routerLink="details"
        class="ml-4 inline-flex items-center text-sm py-2.5 px-5 transition duration-300 ease-in rounded-[5px] tracking-wider text-white bg-[#3f51b5] rounded hover:bg-[#4558BE]"
        type="button"
      >
        Detalji
      </button> 
    
    </div>
    <div class="table w-full mt-[20px]">
      <div>
        <label for="search">Pretraga:</label>
        <input class="rounded-md border-[1px] ml-2" type="text" />
  
        
      </div>
      <div class="table-view">
        <table
          class="mt-4 overflow-hidden shadow-lg rounded-xl min-w-full border-[1px] border-[#e4dfdf]"
        >
          <thead class="bg-[#EFF3F6]">
            <tr>
              <th class="px-4 py-4">Naziv autora</th>
              <th class="text-left">Opis</th>
              
             
            </tr>
          </thead>
          <tbody *ngFor="let author of authors">
            <tr class="text-left hover:bg-gray-200 hover:shadow-md border-b-[1px] border-[#e4dfdf]">
              <td class="px-4 py-4 text-sm leading-5 whitespace-no-wrap">{{ author.name }} {{author.surname}}</td>
              <td class="text-left ml-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque modi praesentium similique est dicta? Laudantium quo cupiditate accusantium enim officiis dicta saepe eos quia nemo culpa! Amet deleniti qui a.</td>
              
            
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>