
<div class="pt-1.5 flex flex-row justify-between items-center">
    <div class="flex flex-col pl-[32px]">
      <div *ngIf = "author">
        <h1>{{ author?.name }} {{ author?.surname }} </h1>
      </div>
      <div>
        <nav class="w-full rounded">
          <ol class="flex list-reset">
            <li>
              <a routerLink="/authors" class="text-[#2196f3] hover:text-blue-600">
                Svi autori
              </a>
            </li>
            <li>
              <span class="mx-2">/</span>
            </li>
            <li>
              ID-{{ author?.id }}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  
    <div class="pr-[30px] text-gray-700">
      <a class="inline hover:text-blue-600 show-modal cursor-pointer">
        <i class="fas fa-redo-alt mr-[3px]"></i>
        Resetuj šifru
      </a>
      <a
        routerLink="edit"
        class="hover:text-blue-600 inline ml-[20px]"
      >
        <i class="fas fa-edit mr-[3px]"></i>
        Izmjeni podatke
      </a>
      <a (click)="deleteAuthor()"
      class="hover:text-blue-600 inline ml-[20px] cursor-pointer"
    >
      <i class="fa-solid fa-trash mr-[3px]"></i>
      Izbriši autora
    </a>
    </div>
  </div>
  <hr class="ml-[-25px] mt-[7px]" />