<div class="ml-4">
  <div>
    <div class="flex flex-col">
      <h1 class="py-1">Izmijeni podatke</h1>
      <div class="flex flex-row">
        <a href="/books">
          <p class="mr-[5px] text-xs">Evidencija knjiga /</p>
        </a>

        <a>
          <p class="text-xs">Izmijeni podatke</p>
        </a>
      </div>
    </div>
  </div>
</div>

<hr class="ml-[-25px] mt-[7px]" />

<div>
  <ul class="flex flex-row mt-4 w-full border-b-[1px]">
    <a class="ml-4 cursor-pointer" (click)="showDetails()"
      ><li>Osnovni detalji</li></a
    >
    <a class="ml-[70px] cursor-pointer" (click)="showSpecs()"
      ><li>Specifikacija</li></a
    >
    <a class="ml-[70px] cursor-pointer" (click)="showMultimedia()"
      ><li>Multimedija</li></a
    >
  </ul>
</div>
<div class="ml-4 py-3">
  <div *ngIf="visibleComponent == 1">
    <app-book-edit-details (formEmitter)="detailsReceived($event)"></app-book-edit-details>
  </div>
  <div *ngIf="visibleComponent == 2">
    <app-book-edit-specs></app-book-edit-specs>
  </div>
  <div *ngIf="visibleComponent == 3">
    <app-book-edit-multimedia></app-book-edit-multimedia>
  </div>

 
</div>
