<!-- topbar -->
<div id="topbar" class="pl-2 pt-3 flex flex-row justify-between">
  <div class="flex flex-row pl-[32px]">
    <div class="w-9 mr-3">
      <img src="../../../../assets/images/tomsojer.jpg" alt="" />
    </div>
    <div class="flex flex-col" *ngIf="book">
      <h1 class="text-[25px]">{{ book.title }}</h1>
      <div class="flex flex-row">
        <a href="/books">
          <p class="mr-[5px]">Evidencija knjiga</p>
        </a>
        /
        <a>
          <p class="uppercase ml-[5px]">{{ book.title }} - ID: {{ book.id }}</p>
        </a>

        <a *ngIf="dismissMode">
          <p class="ml-[5px]">/ Otpiši knjigu</p>
        </a>
        <a *ngIf="issueMode">
          <p class="ml-[5px]">/ Izdaj knjigu</p>
        </a>
        <a *ngIf="returnMode">
          <p class="ml-[5px]">/ Vrati knjigu</p>
        </a>
        <a *ngIf="reserveMode">
          <p class="ml-[5px]">/ Rezerviši knjigu</p>
        </a>
      </div>
    </div>
  </div>

  <div>
    <ul class="flex flex-row my-4 pr-2">
      <a routerLink="./dismiss" class="hover:text-blue-600"
        ><li class="px-2">Otpiši knjigu</li></a
      >
      <a routerLink="./issue" class="hover:text-blue-600"
        ><li class="px-2">Izdaj knjigu</li></a
      >
      <a routerLink="./return" class="hover:text-blue-600"
        ><li class="px-2">Vrati knjigu</li></a
      >
      <a routerLink="./reserve" class="hover:text-blue-600">
        <li class="px-2">Rezerviši knjigu</li></a
      >
      <!-- kebab menu gets implemented here and incorporates two options below -->
      <a routerLink="./edit" class="hover:text-blue-600">
        <li class="px-2">Izmijeni knjigu</li></a
      >
      <a class="cursor-pointer" (click)="onDelete()"
        ><li class="px-2">Izbriši knjigu</li></a
      >
    </ul>
  </div>
</div>
<hr class="ml-[-25px] mt-[7px]" />
