<div class="sidebar">
  <nav>
    <div class="main-list">
      <ul>
        <a routerLink="/">
          <li>
            <img
              width="30"
              height="30"
              src="https://img.icons8.com/ios-glyphs/30/000000/dashboard.png"
              alt="dashboard"
            /></li
        ></a>

        <a routerLink="/ucenici">
          <li>
            <img
              width="30"
              height="30"
              src="https://img.icons8.com/ios-filled/50/conference-call.png"
              alt="conference-call"
            />
          </li>
        </a>

        <a routerLink="/knjige">
          <li>
            <img
              width="30"
              height="30"
              src="https://img.icons8.com/metro/26/books.png"
              alt="books"
            />
          </li>
        </a>

        <a routerLink="/autori"
          ><li>
            <img
              width="30"
              height="30"
              src="https://img.icons8.com/material-rounded/24/writer-male.png"
              alt="writer-male"
            /></li
        ></a>

        <a routerLink="/izdavanje">
          <li>
            <img
              width="30"
              height="30"
              src="https://img.icons8.com/pastel-glyph/64/left-and-right-curved.png"
              alt="left-and-right-curved"
            />
          </li>
        </a>
      </ul>
    </div>

    <div class="settings">
      <a routerLink="/settings">
        <li>
          <img
            width="30"
            height="30"
            src="https://img.icons8.com/ios/50/services--v1.png"
            alt="services--v1"
          />
        </li>
      </a>
    </div>
  </nav>
</div>
