<nav
  class="fixed flex flex-col justify-between sidebar left-0 nav-height overflow-x-hidden overflow-y-auto bg-[#EFF3F6]"
  id="sidebar"
>
  <div>
    <div class="cursor-pointer">
      <!-- hamburger -->
      <div
        class="hamburger pt-[24px] cursor-pointer border-b-[1px] border-[#E4DFDF] pb-[20px] hover:bg-gray-200 hover:shadow-md"
      >
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div class="border-b-[1px]">
      <ul class="mt-[30px]">
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <li
            class="flex justify-center py-4 hover:bg-gray-200 hover:shadow-md"
          >
            <img
              width="30"
              height="30"
              src="https://img.icons8.com/ios-glyphs/30/000000/dashboard.png"
              alt="dashboard"
            /></li
        ></a>

        <a routerLink="/librarians" routerLinkActive="active">
          <li
            class="flex justify-center py-4 hover:bg-gray-200 hover:shadow-md"
          >
            <i class="text-[25px] text-[#707070] far fa-address-book transition duration-300 ease-in group-hover:text-[#576cdf]"></i>
          </li>
        </a>

        <a routerLink="/students" routerLinkActive="active">
          <li
            class="flex justify-center py-4 hover:bg-gray-200 hover:shadow-md"
          >
            <img
              width="30"
              height="30"
              src="https://img.icons8.com/ios-filled/50/conference-call.png"
              alt="conference-call"
            />
          </li>
        </a>

        <a routerLink="/books" routerLinkActive="active">
          <li
            class="flex justify-center py-4 hover:bg-gray-200 hover:shadow-md"
          >
            <img
              width="30"
              height="30"
              src="https://img.icons8.com/metro/26/books.png"
              alt="books"
            />
          </li>
        </a>

        <a routerLink="/authors" routerLinkActive="active"
          ><li
            class="flex justify-center py-4 hover:bg-gray-200 hover:shadow-md"
          >
            <img
              width="30"
              height="30"
              src="https://img.icons8.com/material-rounded/24/writer-male.png"
              alt="writer-male"
            /></li
        ></a>

        <a routerLink="activity" routerLinkActive="active">
          <li
            class="flex justify-center py-4 hover:bg-gray-200 hover:shadow-md"
          >
            <img
              width="30"
              height="30"
              src="https://img.icons8.com/pastel-glyph/64/left-and-right-curved.png"
              alt="left-and-right-curved"
            />
          </li>
        </a>
      </ul>
    </div>
  </div>
  <div>
    <a routerLink="/settings" routerLinkActive="active">
      <li
        class="flex justify-center py-4 mb-3 border-t-[1px] hover:bg-gray-200 hover:shadow-md"
      >
        <img
          width="30"
          height="30"
          src="https://img.icons8.com/ios/50/services--v1.png"
          alt="services--v1"
        />
      </li>
    </a>
  </div>
</nav>
