<div class="ml-4">
  <div>
    <div class="flex flex-col">
      <h1 class="py-1">Nova knjiga</h1>
      <div class="flex flex-row">
        <a href="/books">
          <p class="mr-[5px] text-xs">Evidencija knjiga /</p>
        </a>

        <a>
          <p class="uppercase text-xs">Nova knjiga - ID: 3522</p>
          
        </a>
      </div>
    </div>
  </div>
</div>

<hr class="ml-[-25px] mt-[7px]" />

<div>
  <ul class="flex flex-row mt-4 w-full border-b-[1px]">
    <a class="ml-4 cursor-pointer" (click)="showDetails()"
      ><li>Osnovni detalji</li></a
    >
    <a class="ml-[70px] cursor-pointer" (click)="showSpecs()"
      ><li>Specifikacija</li></a
    >
    <a class="ml-[70px] cursor-pointer" (click)="showMultimedia()"
      ><li>Multimedija</li></a
    >
  </ul>
</div>
<div *ngIf="visibleComponent == 1" class="ml-4 py-3">
  <app-book-add-details (formEmitter)="detailsReceived($event)"></app-book-add-details>
</div>
<div *ngIf="visibleComponent == 2" class="ml-4 py-3">
  <app-book-add-specs (formEmitter)="specsReceived($event)"></app-book-add-specs>
</div>
<div *ngIf="visibleComponent == 3" class="ml-4 py-3">
  <app-book-add-multimedia></app-book-add-multimedia>
</div>

