<div class="ml-4">
  <div>
    <div class="flex flex-col">
      <h1 class="py-1">Nova knjiga</h1>
      <div class="flex flex-row">
        <a href="/books">
          <p class="mr-[5px] text-xs">Evidencija knjiga /</p>
        </a>

        <a>
          <p class="uppercase text-xs">Nova knjiga - ID: 3522</p>
          
        </a>
      </div>
    </div>
  </div>
</div>

<hr class="ml-[-25px] mt-[7px]" />

<div class="py-4 text-gray-500 border-b-[1px] border-[#e4dfdf] pl-[30px]">
  <a class="inline" [class.active-book-nav]="visibleComponent === 1">
      Osnovni detalji
  </a>
  <a  class="inline ml-[70px]" [class.active-book-nav]="visibleComponent === 2">
      Specifikacija
  </a>
  <a class="inline ml-[70px]" [class.active-book-nav]="visibleComponent === 3">
      Multimedija
  </a>
</div>

<div class="height-scroll overflow-y-auto">
  <div *ngIf="visibleComponent == 1" class="ml-4 py-3">
    <app-book-add-details (nextClickedFromDetails)="showSpecs()"></app-book-add-details>
  </div>
  <div *ngIf="visibleComponent == 2" class="ml-4 py-3">
    <app-book-add-specs (nextClickedFromSpecs)="showMultimedia()" (previousClickedFromSpecs)="showDetails()"></app-book-add-specs>
  </div>
  <div *ngIf="visibleComponent == 3" class="ml-4 py-3">
    <app-book-add-multimedia (previousClickedFromMultimedia)="showSpecs()" (submitClicked)="submitForm()"></app-book-add-multimedia>
  </div>
</div>