<div class="ml-4">
    
    <div class="flex flex-col">
        <div class="naslov">
        <h1 class="py-1 ml-2">Izmijeni podatke</h1>

        <div class="flex flex-row mb-[10px] ml-2">
            <nav class="w-full rounded">
                <ol class="flex list-reset">
                  <li>
                    <a routerLink="../" class="text-[#2196f3] hover:text-blue-600">
                      Svi autori
                    </a>
                  </li>
                  <li>
                    <span class="mx-2">/</span>
                  </li>
                  <li class="text-gray-400">Detalji</li>
                </ol>
              </nav>
        </div>

        <hr/>
        
        </div>
        

    
        
        
            <div class="flex flex-row ml-[10px] mb-[80px]">
                <div class="w-[300px]">
                    <div>
                        <h3>Ime i prezime</h3>
                        <p></p>
                    </div>
                </div>
            </div>
          
            <div class="flex flex-row ml-[10px] mb-[100px]">
                <div class="w-[300px]">
                    <div class="mt-[20px]">
                        <h3>Biografija</h3> 
                        <p></p>
                    </div>   
                </div>
            </div>

            
        
    </div>
</div>