<!-- topbar -->
<div class="pt-1.5 flex flex-row justify-between items-center">
  <div class="flex flex-col pl-[32px]">
    <div>
      <h1>{{ student.name }} {{ student.surname }} </h1>
    </div>
    <div>
      <nav class="w-full rounded">
        <ol class="flex list-reset">
          <li>
            <a routerLink="/students" class="text-[#2196f3] hover:text-blue-600">
              Svi učenici
            </a>
          </li>
          <li>
            <span class="mx-2">/</span>
          </li>
          <li>
              ID-{{ student.id }}
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="pr-[30px] text-gray-700">
    <a href="#" class="inline hover:text-blue-600 show-modal">
      <i class="fas fa-redo-alt mr-[3px]"></i>
      Resetuj sifru
    </a>
    <a
      routerLink="../edit"
      class="hover:text-blue-600 inline ml-[20px] pr-[10px]"
    >
      <i class="fas fa-edit mr-[3px]"></i>
      Izmjeni podatke
    </a>
    <p
      class="inline cursor-pointer text-[25px] py-[10px] pl-[30px] border-l-[1px] border-gray-300 dotsStudentProfile hover:text-[#606FC7]"
    >
      <i class="fas fa-ellipsis-v"></i>
    </p>
    <div
      class="z-10 hidden transition-all duration-300 origin-top-right transform scale-95 -translate-y-2 dropdown-student-profile"
    >
      <div
        class="absolute right-0 w-56 mt-[10px] origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
        aria-labelledby="headlessui-menu-button-1"
        id="headlessui-menu-items-117"
        role="menu"
      >
        <div class="py-1">
          <a
            href="#"
            tabindex="0"
            class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
            role="menuitem"
          >
            <i class="fa fa-trash mr-[5px] ml-[5px] py-1"></i>
            <span class="px-4 py-0">Izbrisi korisnika</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="ml-[-25px] mt-[7px]" />