<div class="flex flex-col">
  <div class="flex flex-row">
    <div class="py-4 pt-[20px] text-[#2D3B48]">
      <a
        routerLink="borrowed"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active-link"
        class="py-[15px] px-[20px] w-[268px] cursor-pointer hover:bg-[#EFF3F6] rounded-[10px] inline hover:text-[#576cdf]"
      >
        <i class="text-[20px] far fa-copy mr-[3px]"></i>
        Izdate
      </a>
      <a
        routerLink="returned"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active-link"
        class="inline py-[15px] rounded-[10px] group px-[20px] w-[268px] hover:text-[#576cdf] hover:bg-[#EFF3F6] ml-[20px] pr-[10px]"
      >
        <i
          class="text-[20px] fas fa-file mr-[3px]"
        ></i>
        Vraćene
      </a>
      <a
        routerLink="overdue"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active-link"
        class="inline py-[15px] rounded-[10px] group px-[20px] w-[268px] hover:text-[#576cdf] hover:bg-[#EFF3F6] ml-[20px] pr-[10px]"
      >
        <i
          class="text-[20px] fas fa-exclamation-triangle mr-[3px]"
        ></i>
        U prekoračenju
      </a>
      <a
        routerLink="active-reservations"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active-link"
        class="inline py-[15px] rounded-[10px] group px-[20px] w-[268px] hover:text-[#576cdf] hover:bg-[#EFF3F6] ml-[20px] pr-[10px]"
      >
        <i
          class="text-[20px] far fa-calendar-check mr-[3px]"
        ></i>
        Aktivne rezervacije
      </a>
      <a
        routerLink="archived-reservations"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active-link"
        class="inline py-[15px] rounded-[10px] group px-[20px] w-[268px] hover:text-[#576cdf] hover:bg-[#EFF3F6] ml-[20px] pr-[10px]"
      >
        <i
          class="text-[20px] fas fa-calendar-alt mr-[3px]"
        ></i>
        Arhivirane rezervacije
      </a>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
