<div class="naslov">
    <h1>Dashboard</h1>
    <hr>
</div>
<div class="component-body">
    <div class="aktivnosti">
        <p>AKTIVNOSTI</p>
        <p>dummy text</p>
        <p>dummy text</p>
        <p>dummy text</p>
        <p>dummy text</p>
    </div>
    <div class="rez-stat">
        <div class="rezervacije">
            <p>REZERVACIJE KNJIGA</p>
            <p>dummy text</p>
            <p>dummy text</p>
            <p>dummy text</p>
            <p>dummy text</p>
        </div>
        <div class="statistika">
            <p>STATISTIKA</p>
            <p>dummy text</p>
            <p>dummy text</p>
            <p>dummy text</p>
            <p>dummy text</p>
        </div>
    </div>
</div>
    