<div class="naslov ml-4">
  <h1>Dashboard</h1>
  <hr />
</div>
<div class="flex ml-4">
  <div class="flex-auto border-[1px] border-[#e4dfdf]">
    <p>AKTIVNOSTI</p>
    <p>dummy text</p>
    <p>dummy text</p>
    <p>dummy text</p>
    <p>dummy text</p>
  </div>
  <div class="flex-auto">
    <div class="flex-auto border-[1px] border-[#e4dfdf]">
      <p>REZERVACIJE KNJIGA</p>
      <p>dummy text</p>
      <p>dummy text</p>
      <p>dummy text</p>
      <p>dummy text</p>
    </div>
    <div class="flex-auto border-[1px] border-[#e4dfdf]">
      <p>STATISTIKA</p>
      <p>dummy text</p>
      <p>dummy text</p>
      <p>dummy text</p>
      <p>dummy text</p>
    </div>
  </div>
</div>
