.naslov hr{
    margin-top: -0.2rem;
    margin-left: -4rem;
}

.component-body {
    display:flex;
}

.aktivnosti {
    flex: 55%;
    border: 1px solid red;
}

.rez-stat {
    flex: 45%;
}

.rezervacije {
    border: 1px solid red;
}

.statistika {
    border: 1px solid red;
}
