<div class="px-6 py-8 " *ngIf="book">
    <ul>
        <li>
            <p class="text-gray-500 text-[14px]">Broj strana</p>
            <p class="font-medium">{{book.pages}}</p>
        </li>
        <li class="mt-6">
            <p class="text-gray-500 text-[14px]">Pismo</p>
            <p class="font-medium">{{book.script.name}}</p>
        </li>
        <li class="mt-6">
            <p class="text-gray-500 text-[14px]">Jezik</p>
            <p class="font-medium">{{book.language.name}}</p>
        </li>
        <li class="mt-6">
            <p class="text-gray-500 text-[14px]">Povez</p>
            <p class="font-medium">{{book.bookbind.name}}</p>
        </li>
        <li class="mt-6">
            <p class="text-gray-500 text-[14px]">Format</p>
            <p class="font-medium">{{book.format.name}}</p>
        </li>
        <li class="mt-6">
            <p class="text-gray-500 text-[14px]">International Standard Book Number (ISBN)</p>
            <p class="font-medium">156462134567878</p>
        </li>
    </ul>
</div>