<h3 class="uppercase mb-[20px]">Aktivnosti</h3>
<div class="flex flex-col mb-6" *ngFor="let activity of allActivities">
  <div class="text-gray-500">
    <p *ngIf="activity.status.includes('Izdata')" class="inline uppercase">
      Izdavanje knjige
    </p>
    <p *ngIf="activity.status.includes('Otpisana')" class="inline uppercase">
      Otpisivanje knjige
    </p>
    <p *ngIf="activity.status.includes('Vracena')" class="inline uppercase">
      Vraćanje knjige
    </p>
    <span> - {{ getDaysAgo(activity.action_date) }} days ago</span>
  </div>
  <div>
    <p>
      Bibliotekar
      <a
        href="/librarians/{{ activity.bibliotekar0.id }}"
        class="text-[#2196f3] hover:text-blue-600"
        >{{ activity.bibliotekar0.name }}
        {{ activity.bibliotekar0.surname.charAt(0) }}.
      </a>
      je <span *ngIf="activity.status.includes('Izdata')">izdao </span>
      <span *ngIf="activity.status.includes('Otpisana')">otpisao </span>
      <span *ngIf="activity.status.includes('Vracena')">
        zaveo kao vraćenu
      </span>
      knjigu
      <span
        ><a
          href="/books/{{ activity.knjiga.id }}"
          class="text-[#2196f3] hover:text-blue-600"
          >"{{ activity.knjiga.title }}"</a
        ></span
      >
      <span *ngIf="activity.status.includes('Otpisana')">
        koju nije vratio student</span
      >
      <span *ngIf="!activity.status.includes('Otpisana')"> studentu</span> pod
      imenom
      <a
        href="/students/{{ activity.student.id }}/details "
        class="text-[#2196f3] hover:text-blue-600"
      >
        {{ activity.student.name }}
        {{ activity.student.surname }}
      </a>
      dana
      <span class="font-medium"> {{ formatDate(activity.action_date) }}</span>
    </p>
  </div>
  <div>
    <a class="text-[#2196f3] hover:text-blue-600">Pogledaj detaljnije >></a>
  </div>
</div>
