<div class="scroll height-content section-content">
  <form class="text-gray-700 forma h-screen" [formGroup]="bookAddForm">
    <div class="flex flex-row ml-[30px] mb-[150px]">
      <div class="w-[50%]">
        <div class="mt-[20px]">
          <label for="title">Naziv knjige </label>
          <input
            type="text"
            id="title"
            formControlName="nazivKnjiga"
            class="flex w-[90%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
          />
          <span
            *ngIf="
              !bookAddForm.get('nazivKnjiga').valid &&
              bookAddForm.get('nazivKnjiga').touched
            "
            class="text-red-800"
            >* Polje ne smije biti prazno!
          </span>
        </div>

        <div class="mt-[20px]">
          <label for="content">Unesite kratak sadržaj </label>
          <div class="w-[90%]">
            <textarea
              id="content"
              class="flex w-[90%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
              formControlName="kratki_sadrzaj"
            ></textarea>
          </div>

          <span
            *ngIf="
              !bookAddForm.get('kratki_sadrzaj').valid &&
              bookAddForm.get('kratki_sadrzaj').touched
            "
            class="text-red-800"
            >* Polje ne smije biti prazno!
          </span>
        </div>

        <div class="mt-[20px] w-[90%]" *ngIf="data">
          <label for="categories">Izaberite kategorije</label>
          <ng-multiselect-dropdown
            id="categories"
            placeholder="-"
            formControlName="categories"
            [settings]="dropdownSettings"
            [data]="data.data.categories"
          >
          </ng-multiselect-dropdown>

          <span
            *ngIf="
              !bookAddForm.get('categories').valid &&
              bookAddForm.get('categories').touched
            "
            class="text-red-800"
            >* Polje ne smije biti prazno!
          </span>
        </div>
        <div class="mt-[20px] w-[90%]" *ngIf="data">
          <label for="genres">Izaberite žanrove </label>
          <ng-multiselect-dropdown
            id="genres"
            placeholder="-"
            formControlName="genres"
            [settings]="dropdownSettings"
            [data]="data.data.genres"
          >
          </ng-multiselect-dropdown>
          <span
            *ngIf="
              !bookAddForm.get('genres').valid &&
              bookAddForm.get('genres').touched
            "
            class="text-red-800"
            >* Polje ne smije biti prazno!
          </span>
        </div>
      </div>

      <div class="w-[50%]">
        <div class="mt-[20px] w-[90%]" *ngIf="data">
          <label for="authors">Izaberite autore </label>
          <ng-multiselect-dropdown
            id="authors"
            placeholder="-"
            formControlName="authors"
            [settings]="dropdownSettings"
            [data]="data.data.authors"
          >
          </ng-multiselect-dropdown>

          <span
            *ngIf="
              !bookAddForm.get('authors').valid &&
              bookAddForm.get('authors').touched
            "
            class="text-red-800"
            >* Polje ne smije biti prazno!
          </span>
        </div>
        <div class="mt-[20px] w-[90%]" *ngIf="data">
          <label for="publishers">Izaberite izdavača </label>
          <select
            name="publishers"
            class="flex w-[45%] mt-2 px-2 py-2 border bg-white border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            formControlName="izdavac"
          >
            <option disabled selected></option>
            <option
              *ngFor="let value of data.data.publishers"
              [ngValue]="value.id"
            >
              {{ value.name }}
            </option>
          </select>

          <span
            *ngIf="
              !bookAddForm.get('izdavac').valid &&
              bookAddForm.get('izdavac').touched
            "
            class="text-red-800"
            >* Polje ne smije biti prazno!
          </span>
        </div>

        <div class="mt-[20px]">
          <label for="publishingYear">Godina izdavanja </label>
          <input
            type="text"
            name="pDate"
            class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            formControlName="godinaIzdavanja"
          />
          <span
            *ngIf="
              !bookAddForm.get('godinaIzdavanja').valid &&
              bookAddForm.get('godinaIzdavanja').touched
            "
            class="text-red-800"
            >* Polje ne smije biti prazno!
          </span>
        </div>

        <div class="mt-[20px]">
          <label for="quantity">Količina </label>
          <input
            type="number"
            name="quantity"
            class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            formControlName="knjigaKolicina"
          />
          <span
            *ngIf="
              !bookAddForm.get('knjigaKolicina').valid &&
              bookAddForm.get('knjigaKolicina').touched &&
              !bookAddForm.get('knjigaKolicina').hasError('greaterThanZero')
            "
            class="text-red-800"
            >* Polje ne smije biti prazno, niti manje od 0!
          </span>
        </div>
      </div>
    </div>
    <div class="absolute bottom-[20px] w-full">
      <div class="flex flex-row">
        <div
          class="inline-block w-full text-white text-right py-[7px] px-5 mr-[100px]"
        >
          <button
            type="reset"
            class="btn-animation shadow-lg mr-[15px] w-[150px] focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in bg-[#F44336] hover:bg-[#F55549] rounded-[5px]"
          >
            Poništi
            <i class="fas fa-times ml-[4px]"></i>
          </button>
          <button
            type="button"
            class="btn-animation shadow-lg w-[150px] disabled:opacity-50 focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in rounded-[5px] hover:bg-[#46A149] bg-[#4CAF50]"
            [disabled]="!isDetailsFormValid"
            (click)="onNextClick()"
          >
            Sledeća <i class="fas fa-arrow-right ml-[4px]"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
